.msgalert {
    min-width: 14.0625rem;
    position: absolute;
    top: 30px;
    right: 0.8125rem;
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    -webkit-animation: show 1s ease;
    animation: show 1s ease;
  }
  
  .alert--success {
    background: #f7fffb;
    border-left: 0.25rem solid #02b854;
  }
  
  .alert--success .alert__message {
    color: #02b854;
  }
  
  .alert--danger {
    background: #fff7f7;
    border-left: 0.25rem solid #f94f51;
  }
  
  .alert--danger .alert__message {
    color: #f94f51;
  }
  
  .alert__message {
    font-size: 0.875rem;
  }
  
  @-webkit-keyframes show {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
  
    50% {
        transform: translateX(-40px);
        opacity: 0.7;
    }
  
    to {
        opacity: 1;
    }
  }
  
  @keyframes show {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
  
    50% {
        transform: translateX(-40px);
        opacity: 0.7;
    }
  
    to {
        opacity: 1;
    }
  }

.squared-border {
  border-radius: 0 !important;
}

.sub-title {
  font-size: .7rem;
}